<head>

</head>


<h3>Oto programy:</h3>

<ul>
    {% for program in plan %}
    <p>
    <div>
    <b>{{program.0}}</b>
    <form action="{% url 'program_remove' program.0 %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" style="box-shadow:1px 2px 8px -1px rgba(0,0,0,0.15);">Usuń</button>
    </form>
    <form action="{% url 'program_edit' program.0 %}" method="get" style="display:inline;">
    {% csrf_token %}
    <button type="submit" style="box-shadow:1px 2px 8px -1px rgba(0,0,0,0.15);">Edytuj</button>
    </form>
    </div>
    <div>Godz. Rozpoczęcia: {{program.1}}, Tryb Podlewania: {% if program.2 == "True"%} Tak {% else %} Nie {% endif %}</div>
    <div>Pon. {% if program.3.0 == True%} Tak {% else %} Nie {% endif %} 
        | Wt. {% if program.3.1 == True%} Tak {% else %} Nie {% endif %} 
        | Śr. {% if program.3.2 == True%} Tak {% else %} Nie {% endif %}
        | Czw. {% if program.3.3 == True%} Tak {% else %} Nie {% endif %}
        | Piąt. {% if program.3.4 == True%} Tak {% else %} Nie {% endif %}
        | Sob. {% if program.3.5 == True%} Tak {% else %} Nie {% endif %}
        | Nied. {% if program.3.6 == True%} Tak {% else %} Nie {% endif %}</div>
    <div>{% for sekcja in program.4 %} {{sekcja.0}} - {{sekcja.1}}ml | {% endfor %}</div>
    <div>Podlewanie {% if program.5 == "1"%} codziennie {% else %} co {{program.5}} dni {% endif %}</div>
    </p>
    {% endfor %}
</ul>