<head>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script> <!-- Aktualnie odniesienie do skryptu, może być zamienione na instalację htmx'a -->
<title>System Podlewania Ogrodu</title>
</head>
<body>
<h1>Zawory</h1>

<div hx-get="{% url 'wodomierz' %}" hx-trigger="load, every 1s">
    Pobieranie danych wodomierza...
</div>

<div hx-get="{% url 'plan_programow' %}" hx-trigger="load, every 10s">
    Pobieranie danych planu...
</div>


<h3>Oto zawory:</h3>

<ul>
    {% for zawor in zawory %}
    <div>
    <form action="{% url 'switch' zawor.id %}" method="post">
    {% csrf_token %}
    {{zawor.real_id}} {% if zawor.status == True%} 🟩 {% else %} 🟥 {% endif %}
    <button type="submit">Przełącz</button>
    </form>
    </div>
    {% endfor %}
</ul>
</body>