<head>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script> <!-- Aktualnie odniesienie do skryptu, może być zamienione na instalację htmx'a -->
</head>
<body>
<h1>Zawory</h1>

<div hx-get="{% url 'wodomierz' %}" hx-trigger="load, every 1s">
    Pobieranie danych wodomierza...
</div>

<div hx-get="{% url 'plan_programow' %}" hx-trigger="load, every 10s">
    Pobieranie danych planu...
</div>


<h3>Oto zawory:</h3>

<ul>
    {% for zawor in zawory %}

    <div>{{zawor.real_id}} {{zawor.status}}
    <form action="{% url 'switch' zawor.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Przełącz</button>
    </form>
    </div>

    {% endfor %}
</ul>
</body>